/* Login.module.css */
.loginRoot {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
  }
  
  .formContainer {
    width: 100%;
    max-width: 448px;
    padding: 48px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px, rgba(0, 0, 0, 0.12) 0px 3px 6px;
  }
  
  .header {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
    color: #1a1f36;
    text-align: center;
  }
  
  .label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
  }
  
  .field {
    margin-bottom: 20px;
    color: black;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e3e8ee;
    border-radius: 4px;
    outline-color: rgba(84, 105, 212, 0.5);
  }
  
  .submitButton {
    width: 100%;
    padding: 12px;
    background-color: rgb(84, 105, 212);
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  .submitButton:hover {
    background-color: rgb(64, 85, 192);
  }
  