/* styles/professor.module.css */


.professorPage {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Centers content vertically on the page */
  text-align: center;
}

.classCards {
  display: grid;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  color: black;
}

.card {
  width: 300px; /* Makes the card bigger */
  padding: 30px; /* Increases padding for a larger feel */
  border: 1px solid #312f2f;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: #e6e6e6;
}

.card:hover {
  transform: scale(1.05);
 
  background-color: #f0b0b0
}

.formContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 400px; /* Wider form for better alignment */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}


.qrCodeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.cancelButton {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #e53935;
}


.qrImage {
  width: 200px;
  height: 200px;
}
