/* styles/professor.module.css */

.professorPage {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.classCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
  color: #333;
}

.card {
  width: 100%;
  padding: 30px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
  border-color: #bbb;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

.formContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 16px;
  width: 500px;
  background-color: #fafafa;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background-color: #f5f5f5;
  color: black;
}

.input:focus {
  border-color: #333;
}

.button {
  padding: 12px 24px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 12px rgba(0, 90, 200, 0.3);
}

.cancelButton {
  padding: 12px 24px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.cancelButton:hover {
  background-color: #c82333;
  box-shadow: 0 4px 12px rgba(200, 35, 50, 0.3);
}

.qrCodeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.qrImage {
  width: 250px;
  height: 250px;
  border: 2px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
